body {
  font-family: 'Poppins', sans-serif;
  background: rgb(15, 49, 15);
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.logo {
  color: #fff;
  margin: 0 auto;
  width: 750px;
  font-size: 48px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #183458;
  border-radius: 0px 0 15px 15px;
  /* padding: 0 10px; */
}

.kurs {
  font-size: 30px;
  font-weight: 600;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #492424;
  border-radius: 10px;
  margin: 10px auto;
}

.but {
  display: flex;
  justify-content: space-between;
}

.bt {
  width: 300px;
  height: 300px;
  margin: 10px;
  font-size: 30px;
  background-color: yellow;
  /* display: inline-block; */
}

@media (max-width: 1300px){
  .container{
    max-width: 900px;
  }
  
}

@media (max-width: 1000px){
  .container{
    max-width: 750px;
  }
  .logo{
    width: 600px;
    height: 80px;
  }

}
  

@media (max-width: 850px){
  .container{
    max-width: 600px;
  }

  body {
    background-color: #b74c4c;
  }

  .logo{
    background-color: #147881;

  }

  .but{
    display: block;
  }

  .bt{
    margin:10px auto 0 auto;
  }

}

@media (max-width: 450px){
  .container{
    max-width: 360px;
  }
  .logo{
    width: 100%;
  }
  .yui{
    color: black;
    background: #fff;
  }
}