body{
  background-image: url(/img/image\ 1.svg);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
}

header{
    width: 1000px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
  }

  
h1 {
  color: #fff;
  font-size: 48px;
}

.logo {
  width: 990px;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 29px 29px;
  background-color: #183458;
 
}

.hed2{
color: #000000;
}

.logohed2{
  /* бек тексту */
  position: absolute;
  width: 291px;
  height: 79px;
  left: 814px;
  top: 167px;
  border-radius: 13px 13px 13px 13px;
  background-color: #ffffff;
  /*Текст  */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}