body {
  background-image: url(/img/fonImgJPG.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  /* Додаємо цю властивість для центрування фонового зображення */
  background-size: cover;
  /* Додаємо цю властивість для адаптивного масштабування фонового зображення */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Встановлюємо мінімальну висоту контейнера body на весь видимий екран */
  font-family: 'Poppins', sans-serif;

}

header {
  background-color: #183458;
  text-align: center;
  color: aliceblue;
  top: 0;
  height: 100px;

  width: 100%;
  background: #183458;
  z-index: 1;
}

.wrap {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.logo {
  color: #fff;
  margin: 0 auto;
  width: 750px;
  font-size: 48px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yello-blue {
  display: block;
  width: 201px;
  height: 5px;
  background: linear-gradient(90.03deg, #0029FF 25.54%, rgba(240, 231, 13, 0.942708) 77.08%);
  border-radius: 6px;
  margin: 0 auto;
}

.D3 {
  color: #fff;
  margin: 0 auto;
  width: 750px;
  font-size: 24px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-blue {
  width: 990px;
  height: 5px;
  background: linear-gradient(89.99deg, rgba(0, 40, 249, 0.997923) -0.91%, #0028F9 49.55%, rgba(0, 41, 255, 0) 94.22%);
  border-radius: 6px;
  margin: 0 auto;
}
.back{
  background-color: #fff;
  width: 100%;
}
#weeks{
  list-style: none;
}
li{
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 55px;
}
.container
{
  width: 990px;
  margin: 0 auto;
}
.content{
    min-height: calc(100% - 150px); /* Загальна висота сторінки мінус висота хедера і футера */
    background-color: #f9f9f9; /* Задайте колір фону вашого контенту */
  
}
