body {
  background-image: url(/img/fonImgJPG.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  /* Додаємо цю властивість для центрування фонового зображення */
  background-size: cover;
  /* Додаємо цю властивість для адаптивного масштабування фонового зображення */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Встановлюємо мінімальну висоту контейнера body на весь видимий екран */
  font-family: 'Poppins', sans-serif;

}
header  {
  background-color: #183458;
  text-align: center;
  color: aliceblue;
}
.wrap {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
img {
  max-width: 100%;
  height: auto;
  w10
  display: block;
  /* Додаємо цю властивість для коректного центрування зображення */
  margin: 0 auto;
  /* Додаємо цю властивість для центрування зображення */
}

#conteyner {
  width: 990px;
  max-height: 100%;
  margin: 140px auto;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
}

.week1 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  margin: 0px auto;
}

.week2 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  margin: 100px auto;
}

.week3 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  margin: 100px auto;
}
.week4 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  margin: 100px auto;
}
.week5 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  margin: 100px auto;
}
.week6 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  margin: 100px auto;
}

#header {
  position: fixed;
  top: 0;
  height: 100px;

  width: 100%;
  background: #183458;
  z-index: 1;

}

#logo {
  height: 100px;
  width: 207px;
  margin: 0 auto;
  font-size: 48px;
  line-height: 95px;
}



#content {
  text-align: center;
  margin: 140px auto;
  max-width: 100%px;
  max-height: 100%;
  /* padding: 20px; */
}

.d3 {
  color: aliceblue;
  font-size: 30px;
}

.elips {
  margin: -150px auto;
  width: 700px;
  height: 252px;
  background: radial-gradient(40% 40% at 50% 50%, #BD9C27 0%, rgba(51, 44, 44, 0) 100%);
}

.white-blue {
  margin: 30px auto;
  width: 990px;
  height: 5px;
  background: linear-gradient(89.99deg, #ABACB1 -0.91%, #0028F9 53.13%, rgba(0, 41, 255, 0) 100%);
  border-radius: 6px;
}

.buttun1 {
  margin: 0 auto;
  margin-left: 770px;
  width: 203px;
  height: 51px;
  color: aliceblue;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background: #004797;
  border-radius: 15px;
}

.buttun1:hover {
  background-color: #01217a;
  transition: 0.2s;
}



.white {
  background-color: white;
  margin: -100px auto;
  width: 100%;
  height: 100vh;
  /* Займе всю висоту сторінки */
}



#yello-blue {
  margin: -10px auto;
  width: 201px;
  height: 5px;
  background: linear-gradient(90.03deg, #0029FF 25.54%, rgba(240, 231, 13, 0.942708) 77.08%);
  border-radius: 6px;
}

img {
  max-width: 100%;
  height: auto;
}

