* {
  box-sizing: border-box;
}

body {
  background-image: url(/img/fonImgJPG.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  /* Додаємо цю властивість для центрування фонового зображення */
  background-size: cover;
  /* Додаємо цю властивість для адаптивного масштабування фонового зображення */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Встановлюємо мінімальну висоту контейнера body на весь видимий екран */
  font-family: 'Poppins', sans-serif;

}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #1C1D22;
  color: #fff;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

.yello-blue {
  background: linear-gradient(270deg, #FDB515 0%, #2A75C4 100%);
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  z-index: -1;
}

.content {
  flex-grow: 1;
}

.back {
  background-color: #fff;
  padding: 40px 0;
}

.D3 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.white-blue {
  background: linear-gradient(270deg, #FFFFFF 0%, #2A75C4 100%);
  height: 8px;
  margin: 20px auto;
  width: 100px;
}

#weeks {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#weeks li {
  cursor: pointer;
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #EAEAEA;
}

.dropdown-menu {
  display: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  min-width: 200px;
}

.custom-dropdown-menu {
  display: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  width: 940px; /* Задайте потрібну ширину */
  height: 480px; /* Задайте потрібну висоту */
  z-index: 9999;

  position: relative !important;
}

.dropdown-menu li {
  padding: 5px 0;
}

.dropdown-menu li a {
  color: #333;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  color: #000;
}

.dropdown-menu li iframe {
  width: 100%;
  height: 315px;
  border: none;
}

#weeks li.open .dropdown-menu {
  display: block;
}
